<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>BharatTeleServices</display-name>
	<servlet>
		<description>
		</description>
		<display-name>HelloServlet</display-name>
		<servlet-name>hi</servlet-name>
		<servlet-class>
		controller.HelloServlet</servlet-class>
	</servlet>
	
	
	
	
	
	<servlet>
		<description>
		</description>
		<display-name>ConnectionController</display-name>
		<servlet-name>ConnectionController</servlet-name>
		<servlet-class>
		controller.ConnectionController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LoginController</display-name>
		<servlet-name>LoginController</servlet-name>
		<servlet-class>
		controller.LoginController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AdminController</display-name>
		<servlet-name>AdminController</servlet-name>
		<servlet-class>
		controller.AdminController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CallDetailsController</display-name>
		<servlet-name>CallDetailsController</servlet-name>
		<servlet-class>
		controller.CallDetailsController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CustomerViewByAdminController</display-name>
		<servlet-name>CustomerViewByAdminController</servlet-name>
		<servlet-class>
		controller.CustomerViewByAdminController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CustomerViewByCustomerController</display-name>
		<servlet-name>CustomerViewByCustomerController</servlet-name>
		<servlet-class>
		controller.CustomerViewByCustomerController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ConnectionViewByAdminController</display-name>
		<servlet-name>ConnectionViewByAdminController</servlet-name>
		<servlet-class>
		controller.ConnectionViewByAdminController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ConnectionViewByCustomerController</display-name>
		<servlet-name>ConnectionViewByCustomerController</servlet-name>
		<servlet-class>
		controller.ConnectionViewByCustomerController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CallDetailsViewByAdminController</display-name>
		<servlet-name>CallDetailsViewByAdminController</servlet-name>
		<servlet-class>
		controller.CallDetailsViewByAdminController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CustomerUpdateController</display-name>
		<servlet-name>CustomerUpdateController</servlet-name>
		<servlet-class>
		controller.CustomerUpdateController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ConnectionUpdateController</display-name>
		<servlet-name>ConnectionUpdateController</servlet-name>
		<servlet-class>
		controller.ConnectionUpdateController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CallDetailsUpdateController</display-name>
		<servlet-name>CallDetailsUpdateController</servlet-name>
		<servlet-class>
		controller.CallDetailsUpdateController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>customerDeleteController</display-name>
		<servlet-name>customerDeleteController</servlet-name>
		<servlet-class>
		controller.customerDeleteController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ConnectionDeleteController</display-name>
		<servlet-name>ConnectionDeleteController</servlet-name>
		<servlet-class>
		controller.ConnectionDeleteController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CallDetailsDeleteController</display-name>
		<servlet-name>CallDetailsDeleteController</servlet-name>
		<servlet-class>
		controller.CallDetailsDeleteController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CustomerDeleteController</display-name>
		<servlet-name>CustomerDeleteController</servlet-name>
		<servlet-class>
		controller.CustomerDeleteController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CallDetailsSingleController</display-name>
		<servlet-name>CallDetailsSingleController</servlet-name>
		<servlet-class>
		controller.CallDetailsSingleController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>EmployeeController</display-name>
		<servlet-name>EmployeeController</servlet-name>
		<servlet-class>
		controller.EmployeeController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ConnectionControllerD</display-name>
		<servlet-name>ConnectionControllerD</servlet-name>
		<servlet-class>
		com.tcs.controller.ConnectionControllerD</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CustomerController</display-name>
		<servlet-name>CustomerController</servlet-name>
		<servlet-class>
		com.tcs.controller.CustomerController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CallDetailsControllerD</display-name>
		<servlet-name>CallDetailsControllerD</servlet-name>
		<servlet-class>
		com.tcs.controller.CallDetailsControllerD</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UploadCallDetailsController</display-name>
		<servlet-name>UploadCallDetailsController</servlet-name>
		<servlet-class>
		com.tcs.controller.UploadCallDetailsController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Login2Controller</display-name>
		<servlet-name>Login2Controller</servlet-name>
		<servlet-class>
		com.tcs.controller.Login2Controller</servlet-class>
	</servlet>
	
	
	<servlet>
		<description>
		</description>
		<display-name>UploadImageController</display-name>
		<servlet-name>UploadImageController</servlet-name>
		<servlet-class>
		com.tcs.controller.UploadImageController</servlet-class>
	</servlet>
	
	
	<servlet-mapping>
		<servlet-name>hi</servlet-name>
		<url-pattern>/hello</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CustomerController</servlet-name>
		<url-pattern>/CustomerController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConnectionController</servlet-name>
		<url-pattern>/ConnectionController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginController</servlet-name>
		<url-pattern>/LoginController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminController</servlet-name>
		<url-pattern>/AdminController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CallDetailsController</servlet-name>
		<url-pattern>/CallDetailsController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CustomerViewByAdminController</servlet-name>
		<url-pattern>/CustomerViewByAdminController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CustomerViewByCustomerController</servlet-name>
		<url-pattern>/CustomerViewByCustomerController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConnectionViewByAdminController</servlet-name>
		<url-pattern>/connectionviewbyadmin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConnectionViewByCustomerController</servlet-name>
		<url-pattern>/ConnectionViewByCustomerController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CallDetailsViewByAdminController</servlet-name>
		<url-pattern>/CallDetailsViewByAdminController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CustomerUpdateController</servlet-name>
		<url-pattern>/CustomerUpdateController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConnectionUpdateController</servlet-name>
		<url-pattern>/ConnectionUpdateController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CallDetailsUpdateController</servlet-name>
		<url-pattern>/CallDetailsUpdateController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>customerDeleteController</servlet-name>
		<url-pattern>/customerDeleteController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConnectionDeleteController</servlet-name>
		<url-pattern>/ConnectionDeleteController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CallDetailsDeleteController</servlet-name>
		<url-pattern>/CallDetailsDeleteController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CustomerDeleteController</servlet-name>
		<url-pattern>/CustomerDeleteController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CallDetailsSingleController</servlet-name>
		<url-pattern>/CallDetailsSingleController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EmployeeController</servlet-name>
		<url-pattern>/EmployeeController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConnectionControllerD</servlet-name>
		<url-pattern>/ConnectionControllerD</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CustomerController</servlet-name>
		<url-pattern>/CustomerController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CallDetailsControllerD</servlet-name>
		<url-pattern>/CallDetailsControllerD</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UploadCallDetailsController</servlet-name>
		<url-pattern>/UploadCallDetailsController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Login2Controller</servlet-name>
		<url-pattern>/Login2Controller</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
		<servlet-name>UploadImageController</servlet-name>
		<url-pattern>/UploadImageController</url-pattern>
	</servlet-mapping>
	
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
